{{ define "main" }}

{{ if .Site.IsServer }}
{{ `<!-- layout/_default/single.html -->` | safeHTML }}

{{ end }}

<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-9">
                <article>

                    <div class="content has-text-centered">
                        <p class="is-size-5 has-text-weight-medium mb-2">{{ .Site.Params.author }}</p>
                        <p class="mb-4 has-text-grey-light"><time>{{ .PublishDate.Format "January 2, 2006" }}</time></p>
                    </div>

                    <h1 class="title is-size-3 has-text-centered">{{ .Title }}</h1>
                    {{ with .Params.images }}
                    <figure class="cover">
                        <img src="{{ index . 0 }}" alt="cover">
                    </figure>
                    {{ end }}
    
                    <div class="content mt-6">
                        {{ .Content }}
                    </div>
                    <section class="section">
                        <div class="columns is-mobile">
                            <div class="column has-text-left">
                                {{ with .PrevInSection }}
                                <p>Previous post</p>
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                {{ end }}
                            </div>
                            <div class="column has-text-right">
                                {{ with .NextInSection }}
                                <p>Next post</p>
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                {{ end }}
                            </div>
                        </div>
                    </section>
                </article>

            </div>
            <div class="column is-3">
                {{ partial "widget-series.html" . }}
                {{ partial "widget-tags.html" . }}
                {{ partial "widget-related.html" . }}
                {{ partial "widget-recent.html" . }}
            </div>
        </div>
    </section>
</div>

{{ end }}
