{{ define "main" }}

{{ if .Site.IsServer }}
{{ `<!-- layout/tags/taxonomy.html -->` | safeHTML }}
{{ end }}

<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-9">
                <div class="tile is-child box">
                    <div class="content">
                        <h2>{{ .Title }}</h2>
                        <hr>
                        {{ range .Pages }}
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p class="title is-4"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></p>
                                    </div>
                                </div>
                            </article>
                            <br>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="column is-3">
                {{ partial "widget-tags.html" . }}<br>
                {{ partial "widget-recent.html" . }}<br>
            </div>
        </div>
    </section>
</div>

{{ end }}

