<header>
    <nav class="navbar is-fixed-top has-shadow" role="navigation">

            <div class="navbar-brand">
                <a href="/" title="home" class="navbar-item">
                    <span class="logo"><h1>{{ .Site.Title }}</h1></span>
                </a>
                {{ range .Site.Menus.social }}
                    <a href="{{ .URL }}" title="{{ .Name }}" class="navbar-item is-hidden-desktop">
                        <span class="icon">{{ .Pre }}</span>
                    </a>
                {{ end }}
                <a class="navbar-burger" role="button" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="navMenu">

                <div class="navbar-start">
                    {{ range .Site.Menus.nav }}
                        <a class="navbar-item" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                </div>

                <div class="navbar-end">

                    {{ if .IsTranslated }}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Language</a>

                        {{ range .Translations }}
                        <div class="navbar-dropdown">
                            <a class="navbar-item" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Language }}</a>
                        </div>
                        {{ end }}
                    </div>


                    {{ end }}

                    {{ range .Site.Menus.social }}
                        <a class="navbar-item is-hidden-touch" href="{{ .URL }}" title="{{ .Name }}">
                            <span class="icon">{{ .Pre }}</span>
                        </a>
                    {{ end }}
                </div>

            </div>

    </nav>
</header>
