{{ define "main" }}

{{ if .Site.IsServer }}
{{ `<!-- layout/index.html -->` | safeHTML }}
{{ end }}


{{ $paginator := .Paginate (where .Site.RegularPages "Section" "post").ByPublishDate.Reverse }}

<div class="container">
    <section class="section">
        <div class="columns">

            <div class="column is-9">

                {{ range .Site.Sections }}
                <section class="section">
                    <h3 class="title">{{ .Title }}</h3>
                    <ul>
                        {{ range .Pages.ByPublishDate.Reverse }}
                            <a href="{{ .RelPermalink }}">
                                <li><span class="is-family-monospace has-text-grey-light mr-4">{{ .Date.Format "2006-01-02" }}</span>{{ .Title }}</li>
                            </a>
                        {{ end }}
                    </ul>
                </section>
                {{ end }}

            </div>

            <div class="column is-3">
                {{ partial "widget-tags.html" . }}<br>
                {{ partial "widget-recent.html" . }}<br>
                {{ partial "widget-related.html" . }}
            </div>

        </div>
    </section>
</div>

{{ end }}
